
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}
html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    position: relative;
    font-family: Roboto;
    background-color: #1D1C1C;
}

/* HEADER */
/* NAVBAR */
.nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
}



@media(min-width: 1200px){
    .nav{
        padding: 3rem 5rem;
    }
}



@media (max-width: 768px){
    .nav{
        padding: 3rem 1rem;
    }
}

@media (max-width: 500px){
    .nav{
        padding: 3rem 1rem;
    }
}

.logo{
    width: 10rem;
}

.apps{
    width: 25rem;
    display: flex;
    justify-content: space-between;
}

.apple{
    width: 12rem;
}
.google{
    width: 12rem;
}
@media (max-width: 500px){
    .apps{
        flex-direction: column;
        align-items: flex-end;
    }
}
@media(min-width: 1200px){
    .apps{
        width: 33rem;
    }
    .apple,
    .google{
        width: 15rem;
    }
}



/* TOPSECTION */
.topSection{
    width: 100%;
    height: 100vh;
    position: relative;
}
/* VIDEO */

.videoContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.video{
    
}

.topSection__titleBox{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);

}

.topSection__title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 4.1rem;
    color: #fff;
}

@media (max-width: 768px){
    .topSection__title{
        font-size: 3.5rem;
    }
}
@media (max-width: 500px){
    .topSection__title{
        font-size: 2.5rem;
    }
}


@media (min-width: 1200px){
    .topSection__title{
        font-size:6rem;
    }
}


.topSection__btn{
    background-color: rgb(236, 191, 97);
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
    border-style: none;
    padding: 1rem 2rem;
    text-decoration: none;
    margin: 0.4rem 0.2rem;
    border-radius: 5px;
}

@media (max-width: 768px){
    .topSection__btn{
        font-size: 1.8rem;
    }
}


/* SECOND_SECTION */
.secondSection{
    width: 100%;
    /* padding: 0 24rem; */

}

.secondSection__title{
    font-size: 3.5rem;
    color: white;
    text-align: center;
    margin: 8rem;
    
}

@media (max-width: 768px){
    .secondSection__title{
        font-size: 3rem;
        margin: 5rem 1rem;
    }
}

@media (max-width: 500px){
    .secondSection__title{
        font-size: 2.5rem;
        margin: 5rem 1rem;
    }
}


.secondSection__iconsContainer{
    width: 40%;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;

}

@media (max-width: 768px){
    .secondSection__iconsContainer{
        width: 60%;
    }
}
@media (max-width: 500px){
    .secondSection__iconsContainer{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1200px){
    .secondSection__iconsContainer{
        width: 40%;
    }
}
@media (min-width: 1400px){
    .secondSection__iconsContainer{
        width: 45%;
    }
}

.secondSection__appleicon{
    width: 18rem;
    margin: 1rem;
}
.secondSection__googleicon{
    width: 18rem;
    margin: 1rem;
}

@media (max-width: 768px){
    .secondSection__appleicon,
    .secondSection__googleicon{
        width: 15rem;
    }
}
@media (max-width: 500px){
    .secondSection__appleicon,
    .secondSection__googleicon{
        width: 14rem;
    }
}

@media (min-width: 1200px){
    .secondSection__appleicon,
    .secondSection__googleicon{
        width: 22rem;

    }
}

@media (min-width: 1400px){
    .secondSection__appleicon,
    .secondSection__googleicon{
        width: 30rem;

    }
}

/* ROW1 */
.secondSection__row1{
    
    padding: 0 20rem;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    
}

@media (max-width: 768px){
    .secondSection__row1{
        flex-direction: column;
        padding: 0 5rem;
        
    }
}

@media (max-width: 500px){
    .secondSection__row1{
        flex-direction: column;
        padding: 0 2rem;
        
        
    }
}

@media (min-width: 1200px){
    .secondSection__row1{
        padding: 0 30rem;
    }
}

.row1__left{
    width: 50%;
}


@media (max-width: 768px){
    .row1__left{
        width: 100%;
    }
}

@media (min-width: 1200px){
    .row1__left{
        width: 40%;
        margin-top: 5rem;
    }
}

@media (min-width: 1400px){
    .row1__left{
        width: 40%;
        margin-top: 10rem;
    }
}


.row1_title{
    color: white;
    font-size: 3rem;
    margin-top: 7rem;

}

.row1__text{
    color: #fff;
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

.row1__right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px){
    .row1__right{
        width: 100%;
        order:-2;
    }
}

@media (min-width: 1200px){
    .row1__right{
        margin-top: 5rem;
    }
}

.row1__img{
    width: 100%;
}


/* row2 */
.secondSection__row2{
    
    padding: 0 5rem;
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    
}
@media (max-width: 768px){
    .secondSection__row2{
        flex-direction: column;
        padding: 0 5rem;
        
    }
}

@media (max-width: 500px){
    .secondSection__row2{
        flex-direction: column;
        padding: 0 2rem;
        
        
    }
}

@media (min-width: 1200px){
    .secondSection__row2{
        padding: 0 30rem;
    }
}

.row2__left{
    width: 50%;
}

@media (max-width: 768px){
    .row2__left{
        width: 100%;
    }
}

@media (min-width: 1200px){
    .row2__left{
        width: 50%;
        margin-top: 5rem;
    }
}

@media (min-width: 1400px){
    .row2__left{
        width: 40%;
        margin-top: 0rem;
    }
}

.row2__img{
    width: 70%;
    height: 30rem;
    
}

@media (max-width: 768px){
    .row2__img{
        width: 100%;
    }
}

.row2__right{
    width: 50%;
}

@media (max-width: 768px){
    .row2__right{
        width: 100%;
        
    }
}

@media (min-width: 1200px){
    .row1__right{
        margin-top: 5rem;
    }
}

.row2_title{
    color: white;
    font-size: 3rem;
    margin-top: 4rem;

}

.row2__text{
    color: #fff;
    font-size: 1.8rem;
    margin-top: 1.5rem;
}


/* row3 */

.secondSection__row3{
    padding: 0 5rem;
    margin-top: 10rem;
    
}

#quotes{

    font-size: 3.2rem;
    text-align: center;
    width: 100%;
    display: inline-block;
    color:   rgb(236, 191, 97);
}

.row3__title{
    color: white;
    line-height: 3.6rem;
    font-weight: 300;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    margin: 5rem auto;
    width: 80%;

}

@media (max-width: 500px){
    .row3__title{
        width: 95%;
    }

}

.row3_imgcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}

.row3__img{
    width: 10rem;  
}    


/* row4 */

.secondSection__row4{
    
    padding: 0 5rem;
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    
}

@media (max-width: 768px){
    .secondSection__row4{
        flex-direction: column;
        padding: 0 1rem;
    }
}

.row4__left{
    width: 70%;
}

@media (max-width: 768px){
    .row4__left{
        width: 100%;
    }
}

.row4__img{
    width: 100%;
    height: 30rem;
    margin-top: 5rem;
}

@media (max-width: 768px){
    .row4__img{
        width: 100%;
    }
}


@media (min-width: 1200px){
    .row4__img{
        height: 35rem;
    }
}


@media (min-width: 1400px){
    .row4__img{
        height: 40rem;
    }
}

.row4__right{
    width: 30%;
    padding: 2rem;
}

@media (max-width: 768px){
    .row4__right{
        width: 100%;
    }
}

@media (min-width: 1200px){
    .row4__right{
        padding: 2rem 5rem;
    }
}

.row4_title{
    color: white;
    font-size: 3rem;
    margin-top: 4rem;

}

.row4__text{
    color: #fff;
    font-size: 1.8rem;
    margin-top: 1.5rem;
}


/* ROW5 */
.secondSection__row5{
    
    padding: 0 5rem;
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    
}

@media (max-width: 768px){
    .secondSection__row5{
        flex-direction: column;
        padding: 0 1rem;

    }
}


.row5__left{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

@media (max-width: 768px){
    .row5__left{
        width: 100%;
        padding: 0;
        margin: 3rem;
    }
}

.row5_title{
    color: white;
    font-size: 3rem;
    
}

.row5__right{
    width: 70%;
}

@media (max-width: 768px){
    .row5__right{
        width: 100%;
    }
}

@media (min-width: 1200px){
    .row5__right{
        padding: 2rem 5rem;
    }
}


.row5__img{
    width: 90%;
}

@media (max-width: 768px){
    .row5__img{
        width: 100%;
    }
}


@media (min-width: 1200px){
    .row5__img{
        height: 60rem;
    }
}




/* row6 */
.secondSection__row6{
    
    padding: 0 5rem;
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    
}

@media (max-width: 768px){
    .secondSection__row6{
        flex-direction: column;
        padding: 0 1rem;
    }
}

.row6__left{
    width: 70%;
}

@media (max-width: 768px){
    .row6__left{
        width: 100%;
        order:1;
        margin: 3rem 0;
    }
}

.row6__img{
    width: 90%;
    height: 25rem;
}

@media (max-width: 768px){
    .row6__img{
        width: 100%;
        order: -1;
    }
}


@media (min-width: 1200px){
    .row6__img{
        height: 35rem;
    }
}


@media (min-width: 1400px){
    .row6__img{
        height: 40rem;
    }
}

.row6__right{
    width: 30%;
}
@media (max-width: 768px){
    .row6__right{
        width: 100%;
        text-align: center;
        
    }
}

@media (min-width: 1200px){
    .row6__right{
        padding: 2rem 5rem;
    }
}

.row6__text{
    color: #fff;
    font-size: 2.8rem;
    margin-top: 1.5rem;
}

/* THIRD_SECTION */
.thirdSection{
    width: 100%;
    /* height: 100vh; */
    margin-top: 10rem;
}


.thirdSection_fullimage{
    width: 100%;
}


/* FOOTER */
.footer{
    margin-top: 10rem;
}

.footer_row1{
    display: flex;
    justify-content: center;
    
}

.footer_row1 a{
    color: white;
    text-decoration: none;
    font-size: 4.2rem;
    margin: 0 1rem;

}
@media(max-width: 768px){
    .footer_row1 a{
        font-size: 3rem;
    }
}

.footer_row1 a:hover{
    color: rgba(255,255,255, 0.6);
}


.footer_contact{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    text-align: center;
}

.contact{
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

.footer__links{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}

.links{
    width: 30%;
    display: flex;
    justify-content: space-between;
}



@media(max-width: 768px){
    .links{
        width: 50%;
    }
}
@media (max-width: 500px){
    .links{
        width: 70%;
        
    }
}

@media (min-width: 1200px){
    .links{
        width:23%
    }
}
@media (min-width: 1400px){
    .links{
        width:20%
    }
}


.links a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(178, 171, 171);
}

.links a:hover{
    color: rgba(178, 171, 171, 0.534);
}

.footer_copy{
    color: rgb(178, 171, 171);
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 5rem;
}


.overlay{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
    
}

.overlay__container{
    width: 80%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.overlay_img{
    width: 100%;
}

.cross{
    position: absolute;
    color: white;
    top: -10%;
    right: -2%;
    font-size: 5rem;
    cursor: pointer;
}
@media (max-width: 768px){
    .cross{
        font-size: 3rem;
    }
}


@media (max-width: 500px){
    .cross{
        font-size: 2rem;
    }
}

.cross:hover{
    color: rgba(255,255,255,0.5);
}

.button_thanks{
    position: absolute;
    top: 60%;
    right: 13%;


}

@media (max-width: 768px){
    .button_thanks{
        right: 13%;
        padding: 0.3rem 0.5rem;
        font-size: 1.5rem;
    }

}

@media (max-width: 500px){
    .button_thanks{
        right: 13%;
        padding: 0.3rem 0.5rem;
        font-size: 1rem;
    }

}


@media (min-width: 1400px){
    .button_thanks{
        right: 16%;
    }
}



#download{
    color: transparent;
    z-index: 100000;
    position: absolute;
    bottom: 0;
    left: 0;
}