
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}
html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    /* height: 100vh; */
    position: relative;
    font-family: Roboto;
    background-color: #1D1C1C;
}

/* HEADER */
/* NAVBAR */
.nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
}



@media(min-width: 1200px){
    .nav{
        padding: 3rem 5rem;
    }
}



@media (max-width: 768px){
    .nav{
        padding: 3rem 1rem;
    }
}

@media (max-width: 500px){
    .nav{
        padding: 3rem 1rem;
    }
}

.logo{
    width: 10rem;
}

.apps{
    width: 25rem;
    display: flex;
    justify-content: space-between;
}

.apple{
    width: 12rem;
}
.google{
    width: 12rem;
}
@media (max-width: 500px){
    .apps{
        flex-direction: column;
        align-items: flex-end;
    }
}
@media(min-width: 1200px){
    .apps{
        width: 33rem;
    }
    .apple,
    .google{
        width: 15rem;
    }
}



/* TOP SECTION */

.topSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 18rem;
}

.topSection__img{
    width: 100%;
    display: flex;
    justify-content: center;

}

.img{
    width: 20rem;

}

.topSection__text{
    color: white;
    font-size: 2.4rem;
    padding: 0 20rem;

}

@media (max-width: 768px){
    .topSection__text{
        padding: 0 10rem;
    }
}
@media (max-width: 500px){
    .topSection__text{
        padding: 0 3rem;
    }
}

@media (min-width: 1200px){
    .topSection__text{
        padding: 0 30rem;
    }
}

@media (min-width: 1400px){
    .topSection__text{
        padding: 0 40rem;
    }
}

.form{ 
    width:70%;
    display: flex;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 0 8rem;

    
}

@media (max-width: 768px){
    .form{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 500px){
    .form{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
    }
}

@media (min-width: 1200px){
    .form{
        padding: 0 16rem;
    }
}

@media (min-width: 1400px){
    .form{
        padding: 0 20rem;
    }
}

.email{
    padding: 1rem;
    padding-left: 2rem;
    font-size:2rem; 
    display: inline-block;
    width: 70%;
    background: transparent;
    border-radius: 10px;
    border: 1px solid gray;
    color: white;

}

.email:focus{
    outline: none;
}

.submit{
    background-color: rgb(236, 191, 97);
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
    border-style: none;
    padding: 1rem 2rem;
    text-decoration: none;
    margin: 0.4rem 0.2rem;
    border-radius: 5px;
    margin-left: 1rem;
    padding: 1rem;
    
}

@media (max-width: 768px){
    .email {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .submit{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
    }
}



/* FOOTER */
.footer{
    margin-top: 10rem;
}

.footer_row1{
    display: flex;
    justify-content: center;
    
}

.footer_row1 a{
    color: white;
    text-decoration: none;
    font-size: 4.2rem;
    margin: 0 1rem;

}
@media(max-width: 768px){
    .footer_row1 a{
        font-size: 3rem;
    }
}

.footer_row1 a:hover{
    color: rgba(255,255,255, 0.6);
}


.footer_contact{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    text-align: center;
}

.contact{
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

.footer__links{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}

.links{
    width: 30%;
    display: flex;
    justify-content: space-between;
}



@media(max-width: 768px){
    .links{
        width: 50%;
    }
}
@media (max-width: 500px){
    .links{
        width: 70%;
        
    }
}

@media (min-width: 1200px){
    .links{
        width:23%
    }
}
@media (min-width: 1400px){
    .links{
        width:20%
    }
}


.links a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(178, 171, 171);
}

.links a:hover{
    color: rgba(178, 171, 171, 0.534);
}

.footer_copy{
    color: rgb(178, 171, 171);
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 5rem;
}

